name: Test

on:
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: image
          path: /tmp

      - name: Load image
        run: docker load -i /tmp/image.tar

      - name: Checkout this repo
        uses: actions/checkout@v2
        with:
          repository: ${{ github.repository }}
          path: repo

      - name: Build
        id: build
        uses: docker/build-push-action@v5
        with:
          context: ./repo
          file: ./repo/Dockerfile.test
          push: false
          tags: tester:latest
          build-args: |
            BASE_IMAGE=image:latest

      - name: Run tests
        run: docker run --rm tester:latest
